:root{
  --size-nano: 1px;
  --size-micro: 2px;
  --size-extra-small: 4px;
  --size-small: 8px;
  --size-medium: 16px;
  --size-large: 24px;
  --size-extra-large: 32px;
  --size-jumbo: 40px;
  --size-extra-jumbo: 48px;
  --size-giant: 56px;
  --size-extra-giant: 64px;
  --size-colossal: 72px;
  --size-extra-colossal: 80px;
  --size-scalable-mega: 88px;
  --size-scalable-extra-mega: 96px;
  --size-scalable-immense: 104px;
}