:root{
  --size-scalabe-nano: 10px;
  --size-scalabe-micro: 12px;
  --size-scalabe-extra-small: 14px;
  --size-scalabe-small: 16px;
  --size-scalabe-medium: 18px;
  --size-scalabe-large: 20px;
  --size-scalabe-extra-large: 22px;
  --size-scalabe-jumbo: 24px;
  --size-scalabe-extra-jumbo: 26px;
  --size-scalabe-giant: 28px;
  --size-scalabe-extra-giant: 30px;
  --size-scalabe-colossal: 32px;
  --size-scalabe-extra-colossal: 34px;
  --size-scalabe-mega: 36px;
  --size-scalabe-extra-mega: 38px;
  --size-scalabe-immense: 40px;
}