.h-icon {
  --h-icon--color: inherit;
  --h-icon--wrapper-color: var(--color-theme-secondary);
  --h-icon--wrapper-padding: var(--size-base-small);
  --h-icon--font-size: inherit;
  --h-icon--min-height: inherit;

  color: var(--h-icon--color);
  display: inline-flex;
  position: relative;
  min-height: var(--h-icon--min-height);
  font-size: var(--h-icon--font-size);

  &--size {
    &-nano {
      --h-icon--font-size: var(--size-scalable-nano);
      --h-icon--min-height: var(--size-scalable-nano);
    }
    &-micro {
      --h-icon--font-size: var(--size-scalable-micro);
      --h-icon--min-height: var(--size-scalable-micro);
    }
    &-extra-small {
      --h-icon--font-size: var(--size-scalable-extra-small);
      --h-icon--min-height: var(--size-scalable-extra-small);
    }
    &-small {
      --h-icon--font-size: var(--size-scalable-small);
      --h-icon--min-height: var(--size-scalable-small);
    }
    &-medium {
      --h-icon--font-size: var(--size-scalable-medium);
      --h-icon--min-height: var(--size-scalable-medium);
    }
    &-large {
      --h-icon--font-size: var(--size-scalable-large);
      --h-icon--min-height: var(--size-scalable-large);
    }
    &-extra-large {
      --h-icon--font-size: var(--size-scalable-extra-large);
      --h-icon--min-height: var(--size-scalable-extra-large);
    }
    &-jumbo {
      --h-icon--font-size: var(--size-scalable-jumbo);
      --h-icon--min-height: var(--size-scalable-jumbo);
    }
    &-extra-jumbo {
      --h-icon--font-size: var(--size-scalable-extra-jumbo);
      --h-icon--min-height: var(--size-scalable-extra-jumbo);
    }
    &-giant {
      --h-icon--font-size: var(--size-scalable-giant);
      --h-icon--min-height: var(--size-scalable-giant);
    }
    &-extra-giant {
      --h-icon--font-size: var(--size-scalable-extra-giant);
      --h-icon--min-height: var(--size-scalable-extra-giant);
    }
    &-colossal {
      --h-icon--font-size: var(--size-scalable-colossal);
      --h-icon--min-height: var(--size-scalable-colossal);
    }
    &-extra-colossal {
      --h-icon--font-size: var(--size-scalable-extra-colossal);
      --h-icon--min-height: var(--size-scalable-extra-colossal);
    }
    &-mega {
      --h-icon--font-size: var(--size-scalable-mega);
      --h-icon--min-height: var(--size-scalable-mega);
    }
    &-extra-mega {
      --h-icon--font-size: var(--size-scalable-extra-mega);
      --h-icon--min-height: var(--size-scalable-extra-mega);
    }
    &-immense {
      --h-icon--font-size: var(--size-scalable-immense);
      --h-icon--min-height: var(--size-scalable-immense);
    }
  }

  &--color {
    &-primary {
      --h-icon--color: var(--color-theme-primary);
    }
    &-secondary {
      --h-icon--color: var(--color-theme-secondary);
    }
    &-interactive {
      --h-icon--color: var(--color-theme-secondary);
      &:hover {
        color: var(--color-theme-info);
      }
    }
    &-grey {
      --h-icon--color: var(--color-theme-grey);
    }
    &-success {
      --h-icon--color: var(--color-theme-success);
    }
    &-danger {
      --h-icon--color: var(--color-theme-danger);
    }
    &-warn {
      --h-icon--color: var(--color-theme-warn);
    }
    &-info {
      --h-icon--color: var(--color-theme-info);
    }
    &-inverse {
      --h-icon--color: var(--color-theme-inverse);
    }
  }

  &--wrapper {
    &-circle {
      padding: var(--h-icon--wrapper-padding);
      background-color: var(--h-icon--wrapper-color);
      border-radius: var(--border-radius-circle);
    }

    &-rounded {
      padding: var(--h-icon--wrapper-padding);
      background-color: var(--h-icon--wrapper-color);
      border-radius: var(--border-radius-normal);
    }

    &-square {
      padding: var(--h-icon--wrapper-padding);
      background-color: var(--h-icon--wrapper-color);
    }
  }
}
