input[type=range].h-slider {
  -webkit-appearance: none;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  // background-color: blue;
  border-radius: 5px;
  border-width: var(--size-base-nano);
  border-style: solid;
  border-color: var(--colors-scale-grey-medium);
  height: 8px;
  outline: none;
  transition: opacity .2s;
  width: 100%;
}

input[type=range].h-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: var(--size-base-medium);
  width: var(--size-base-medium);
  border-radius: 50%;
  background: var(--color-theme-secondary);
  cursor: pointer;
}
