.h-stepper {
  --h-stepper__item-spacing: 0rem;

  position: relative;
  display: flex;
  flex-wrap: wrap;
}

.h-stepper__item {
  --h-stepper__item-line: var(--color-blue-grey-scale-300);
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &--current-active {
    --h-stepper__item-line: var(--color-theme-secondary);
  }

  &:not(:last-child):after {
    content: "";
    position: relative;
    top: 1.25rem;
    width: calc(100% - 4rem - calc(var(--h-stepper__item-spacing) * 2));
    left: 50%;
    height: 3px;
    border-radius: var(--border-radius-normal);
    background-color: var(--h-stepper__item-line);
    order: -1;
  }
}
.h-stepper__item-badge {
  --h-badge--background-color: var(--color-blue-grey-scale-500);

  margin-bottom: var(--size-base-small);
  z-index: 10;

  &--active {
    --h-badge--background-color: var(--color-theme-secondary);
  }
  &--is-clickable {
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
    &:active {
      opacity: 0.7;
    }
  }
};

.h-stepper__item-text--is-clickable {
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
  &:active {
    opacity: 0.7;
  }
}
