.h-modal__mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(170, 185, 212, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.h-modal__wrapper {
  position: relative;
}

.h-modal__button-close {
  position: absolute;
  right: 0;
  top: -24px;
}

.h-modal--fade-enter-active, .h-modal--fade-leave-active {
  transition: opacity 250ms;
}

.h-modal--fade-enter-from, .h-modal--fade-leave-to {
  opacity: 0;
}
