:root{
    --colors-major-black: #303349;
    --colors-original-black: #000000;
    --colors-original-white: #FFFFFF;
  
    --colors-major-dark-blue: #303349;
    --colors-normal-dark-blue: #4B4A64;
    --colors-minor-dark-blue: #001469;

    --colors-major-blue: #1D3CC0;
    --colors-interactive-blue: #0B39FF;
  
    --colors-original-red: #FF5B5B;
    --colors-interactive-red: #FF8989;
  
    --colors-interactive-gold: #FFC75B;
    --colors-interactive-green: #61AD80;
  
    --colors-scale-grey-medium: #C4C4C4;
    --colors-scale-grey-light: #EBEBEB;
    --colors-scale-grey-lightest: #FFFBFB;
  
    --color-social-media-facebook: #4267B2;
    --color-social-media-google: #4688f1;
  }