:root{
    --colors-major-black: #303349;
    --colors-original-black: #000000;
    --colors-original-white: #FFFFFF;
  
    --colors-major-blue: #2747b6;
    --colors-interactive-blue: #2D46FF;
  
    --colors-original-red: #FF5B5B;
    --colors-interactive-red: #FF8989;
  
    --colors-interactive-gold: #FFC75B;
    --colors-interactive-green: #61AD80;
  
    --colors-scale-grey-medium: #C4C4C4;
    --colors-scale-grey-light: #EBEBEB;
    --colors-scale-grey-lightest: #FFFBFB;
  
    --color-social-media-facebook: #4267B2;
    --color-social-media-google: #4688f1;
  }