
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*
@font-face {
  font-family: "Red Hat Text";
  src: url("~@/assets/fonts/RedHatText/RedHatText-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("~@/assets/fonts/RedHatText/RedHatText-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("~@/assets/fonts/RedHatText/RedHatText-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("~@/assets/fonts/RedHatText/RedHatText-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("~@/assets/fonts/RedHatText/RedHatText-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("~@/assets/fonts/RedHatText/RedHatText-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}
*/