@font-face {
  font-family: "Red Hat Text";
  src: url("~@/assets/fonts/RedHatText/RedHatText-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("~@/assets/fonts/RedHatText/RedHatText-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("~@/assets/fonts/RedHatText/RedHatText-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("~@/assets/fonts/RedHatText/RedHatText-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 500;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("~@/assets/fonts/RedHatText/RedHatText-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("~@/assets/fonts/RedHatText/RedHatText-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 700;
}