::root {
  /**
  * @tokens Shadows
  * @presenter Shadow
  */
  --shadow-elevation-01: 0px 2px 6px #d6f3ff;
  --shadow-elevation-02: 0px 2px 10px #b5cdd880;
  --shadow-elevation-03: 0px 2px 6px #C5DAE3;
}