:root {
  /**
  * @tokens Sizes - Base
  * @presenter Spacing
  */
  --size-base-nano: 1px;
  --size-base-micro: 2px;
  --size-base-extra-small: 4px;
  --size-base-small: 8px;
  --size-base-medium: 16px;
  --size-base-large: 24px;
  --size-base-extra-large: 32px;
  --size-base-jumbo: 40px;
  --size-base-extra-jumbo: 48px;
  --size-base-giant: 56px;
  --size-base-extra-giant: 64px;
  --size-base-colossal: 72px;
  --size-base-extra-colossal: 80px;
  --size-base-mega: 88px;
  --size-base-extra-mega: 96px;
  --size-base-immense: 104px;

}