$sizes: 
  'nano',
  'micro',
  'extra-small',
  'small',
  'medium',
  'large',
  'extra-large',
  'jumbo',
  'extra-jumbo',
  'giant',
  'extra-giant',
  'colossal',
  'extra-colossal',
  'mega',
  'extra-mega',
  'immense';

@each $size in $sizes {
  .h-gap--#{$size} {
    gap: var(--size-base-#{$size});
  }
  .h-padding--#{$size} {
    padding: var(--size-base-#{$size});
  }
  .h-padding-top--#{$size} {
    padding-top: var(--size-base-#{$size});
  }
  .h-padding-right--#{$size} {
    padding-right: var(--size-base-#{$size});
  }
  .h-padding-bottom--#{$size} {
    padding-bottom: var(--size-base-#{$size});
  }
  .h-padding-left--#{$size} {
    padding-left: var(--size-base-#{$size});
  }
  .h-padding-vertical--#{$size} {
    padding-top: var(--size-base-#{$size});
    padding-bottom: var(--size-base-#{$size});
  }
  .h-padding-horizontal--#{$size} {
    padding-right: var(--size-base-#{$size});
    padding-left: var(--size-base-#{$size});
  }
  .h-margin--#{$size} {
    margin: var(--size-base-#{$size});
  }
  .h-margin-top--#{$size} {
    margin-top: var(--size-base-#{$size});
  }
  .h-margin-right--#{$size} {
    margin-right: var(--size-base-#{$size});
  }
  .h-margin-bottom--#{$size} {
    margin-bottom: var(--size-base-#{$size});
  }
  .h-margin-left--#{$size} {
    margin-left: var(--size-base-#{$size});
  }
  .h-margin-vertical--#{$size} {
    margin-top: var(--size-base-#{$size});
    margin-bottom: var(--size-base-#{$size});
  }
  .h-margin-horizontal--#{$size} {
    margin-right: var(--size-base-#{$size});
    margin-left: var(--size-base-#{$size});
  }
}

.h-margin--auto {
  margin: auto;
}
.h-margin-top--auto {
  margin-top: auto;
}
.h-margin-right--auto {
  margin-right: auto;
}
.h-margin-bottom--auto {
  margin-bottom: auto;
}
.h-margin-left--auto {
  margin-left: auto;
}
.h-margin-vertical--auto {
  margin-top: auto;
  margin-bottom: auto;
}
.h-margin-horizontal--auto {
  margin-right: auto;
  margin-left: auto;
}