:root {
  --colors-original-black: #000000;
  --colors-original-white: #FFFFFF;
  --colors-original-red: #FF5B5B;

  /**
  * @tokens Colors - Theme default
  * @presenter Color
  */
  --color-theme-primary: #1C1C1C;
  --color-theme-secondary: #0B39FF;
  --color-theme-grey: #AAB9D4;
  --color-theme-success: #4BB587;
  --color-theme-danger: #F25355;
  --color-theme-warn: #FFF03C;
  --color-theme-info: #4D9AFF;
  --color-theme-inverse: #FFFFFF;

  /**
  * @tokens Colors - Gray Scale
  * @presenter Color
  */
  --colors-scale-grey-darkest: #778FBB;
  --colors-scale-grey-dark: #889DC3;
  --colors-scale-grey-high: #AAB9D4;
  --colors-scale-grey-superior: #BBC7DD;
  --colors-scale-grey-medium: #CCD5E5;
  --colors-scale-grey-normal: #DDE3EE;
  --colors-scale-grey-light: #EEF1F6;
  --colors-scale-grey-lightest: #F8F9FC;
}
