:root {
  /**
  * @tokens Colors - Theme default
  * @presenter Color
  */
  --color-theme-primary: #1C1C1C;
  --color-theme-secondary: #0B39FF;
  --color-theme-grey: var(--color-blue-grey-scale-500);
  --color-theme-success: var(--color-support-success);
  --color-theme-danger: var(--color-support-danger);
  --color-theme-warn: var(--color-support-warn);
  --color-theme-info: var(--color-support-info);
  --color-theme-inverse: var(--color-white);

  /**
  * @tokens Colors - Original
  * @presenter Color
  */
  --colors-original-black: var(--color-black);
  --colors-original-white: var(--color-white);
}
