.h-breadcrumb {
  --h-breadcrumb--margin-left: var(--size-scalable-medium);
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    align-items: center;
    display: flex;
    white-space: nowrap;

    &:not(:first-child) {
      margin-left: var(--h-breadcrumb--margin-left);
    }
  }
}

.h-breadcrumb__item-divider {
  margin-left: var(--h-breadcrumb--margin-left);
}
