:root {

  /**
  * @tokens Colors Support - Success
  * @presenter Color
  */

  --color-support-success-scale-100: var(--color-green-scale-050);
  --color-support-success-scale-200: var(--color-green-scale-100);
  --color-support-success-scale-300: var(--color-green-scale-300);
  --color-support-success-scale-400: var(--color-green-scale-400);

  /**
  * @tokens Colors Support - Danger
  * @presenter Color
  */

  --color-support-danger-scale-100: var(--color-red-scale-050);
  --color-support-danger-scale-200: var(--color-red-scale-200);
  --color-support-danger-scale-300: var(--color-red-scale-300);
  --color-support-danger-scale-400: var(--color-red-scale-400);

  /**
  * @tokens Colors Support - Warn
  * @presenter Color
  */

  --color-support-warn-scale-100: var(--color-yellow-scale-050);
  --color-support-warn-scale-200: var(--color-yellow-scale-200);
  --color-support-warn-scale-300: var(--color-yellow-scale-400);
  --color-support-warn-scale-400: var(--color-yellow-scale-700);

  /**
  * @tokens Colors Support - Info
  * @presenter Color
  */

  --color-support-info-scale-100: var(--color-light-blue-scale-050);
  --color-support-info-scale-200: var(--color-light-blue-scale-200);
  --color-support-info-scale-300: var(--color-light-blue-scale-300);
  --color-support-info-scale-400: var(--color-light-blue-scale-400);
}
